body {
	text-align: center;
}
#input {
	width: 250px;
	margin-top: 1em;
}
#number {
	width: 2em;
	text-align: center;
}
#output {
	padding: 10px;
    text-align: left;
	height: 50px;
	margin: 10px auto;
	width: 50%;
	border: 1px solid;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}
span {
	color: red;
}
